PORT=5000
MONGODB_URI=mongodb+srv://gagnersports:Gagner2026@cluster0.pwjaof4.mongodb.net/gagnersports?appName=Cluster0&retryWrites=true&w=majority&appName=Cluster0

# Cloudinary CDN
CLOUDINARY_CLOUD_NAME=dvgkynj12
CLOUDINARY_API_KEY=237344737951536
CLOUDINARY_API_SECRET=sRd3l36FJt1V2CNAg_e7nlDdctc

# SMTP Config
SMTP_USER=info@gagnersports.com
SMTP_PASS=Rv1S3FRNssun

# CC Avenue Payment Gateway
CCAV_MERCHANT_ID=4399469
# The Following keys will be handled dynamically in the code based on the domain (isWWW), 
# but you can define defaults here if needed.
CCAV_WORKING_KEY=77CBADC7443F52193CDD382949264C51
CCAV_ACCESS_CODE=AVRB83MH23BQ11BRQB

FRONTEND_URL=https://gagnersports.com
